*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(231, 12, 165);
}
.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 70%;
  margin: auto;
  padding: 15px;
  border-radius: 0.25rem;
  background-color: #fff;
}
.main button{
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(231, 12, 165);
  color: #fff;
  padding: 10px;
}
.person{
  display: flex;
  align-items: center;
  padding: 10px;
}

.person img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.person h4 {
   padding: 5px;
}
.person p{
  padding: 0 5px;
  font-size: 12px;
}